html {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-y: hidden;
}

@font-face {
    font-family: Funkford Regular;
    src: url("/fonts/Funkford-Regular.otf");
    font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 100%;
    // overflow-y: hidden;
}

h1 {
    font-size: 2.3em;
    font-weight: 300;
}

p {
    // font-size: 2em;
    color: black;
    line-height: 1.4em;
}


/* NAV MENU */

.nav-header {
    height: 70px;
    padding: 10px 40px;
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    opacity: 0;
    display: flex;
    font-family: "Funkford Regular";
    // font-size: 3em;


    // > * {
    //     opacity: 0;
    // }
    h1 {
        font-size: 3em;
        font-weight: 100;
        width: 40%;
        padding-top: 4px;
        // font-family: "Funkford Regular";
        margin-top: -16px;
        z-index: 100;

        @media screen and (max-width: 620px) {
            width: 75%;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .menu-nav-menu-container {
        // position: fixed;
        display: block;
        opacity: 1;
        right: 40px;
        // top:40px;
        width: 60%;
        z-index: 100;
        text-align: right;


        ul {
            width: 100%;
            /* position: absolute; */
            display: block;
            // margin: auto;
            padding-left: 0px;
            list-style-type: none;

            li {
                // font-size: 1em;
                font-size: 1.5em;
                display: inline-block;
                margin: 8px 8px;



                a {
                    position: relative;
                    text-decoration: none;
                    // color: black;
                    transition: all .3s ease-in-out .1s;




                    // &:hover {
                    //     color:black;
                    // }

                    &:before, &:after {
                        z-index: -1;
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 8px;
                        width: 0px;
                        height: 3px;
                        margin: 5px 0 0;
                        transition: all .3s ease-in-out;
                        opacity: 0;
                        background-color: darken(#ccc,5%);

                        @media screen and (max-width: 620px) {
                            bottom: 18px;
                        }
                    }

                    &:hover {
                        color: black !important;
                        // UNCOMMENT TO STIRKE THROUGH
                        // &:before, &:after {
                        //     width: 100%;
                        //     opacity: 1;
                        // }
                    }
                }

                &:first-of-type {
                    a {
                        color: #ff4949;

                    }
                }
                &:nth-of-type(2) {
                    a {
                        color: #ffcf49;
                    }
                }
                &:nth-last-of-type(1) {
                    a {
                        color: #4b49ff;

                    }
                }

                &:nth-last-of-type(1) {
                    margin-right: 0px;
                }
            }

            .current-menu-item a {
                // font-weight: 400;
                // color: #ccc !important;
                // color: #ff60eb;
            }
        }

        /* NAV HEADER - mobile */
        @media screen and (max-width: 620px) {
            // display: none;
            // opacity: 0;
            position: fixed;
            top: calc(-100vh - 70px);
            width: 25%;
        }
    }

    .menu-nav-menu-container-mobile {
        display: block !important;
        position: fixed;
        // top: 70px;
        // bottom: 0;
        left: 0;
        right: 0;
        width: 100vw !important;
        height: calc(100vh - 70px) !important;
        background-color: rgba(255,255,255,.9) !important;
        background: linear-gradient(rgba(255,255,255,.1), rgba(238, 238, 238, .1));
        z-index: 10000;
        border-bottom: 1px solid #eee;
        box-shadow: black;

        ul {
            display: block;
            width: 200px;
            margin: auto;
            text-align: left;
            margin-top: 150px;
            li {
                display: block;
                margin-bottom: 40px;
                &:nth-last-of-type(1) {
                    margin-right: 8px;

                    @media screen and (max-width: 660px) {
                        margin-right: 0;
                    }

                }

                a {
                    font-size: 2.4em;
                }
            }
        }
    }

    /* NAV HEADER - mobile */
    @media screen and (max-width: 660px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}


.hamburger-menu-container {

    display: none;
    height: 40px;
    width: 40px;
    // position: relative;
    position: absolute;
    right: 20px;
    top: 2px;
    // margin-bottom: 5px !important;

    // position: fixed;
    // left: 30px;


    // margin: auto;
    // padding-top: 30px;


    // border: 5px solid transparent;
    // -moz-border-radius: 100%;
    // -webkit-border-radius: 100%;
    // border-radius: 100%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;




    .hamburger-menu-bar {
        width: 40px;
        height: 1px;

        background-color: black;
        margin: 8px 0;


        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    /* HAMBURGER MENU - mobile */
    @media screen and (max-width: 620px) {
        display: block;
    }

}

.hamburger-menu-bar{
    position: absolute;
    &:nth-of-type(1){
        top: 12px;
        -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
        -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
        // -webkit-transition-delay: 0.3s, 0.1s;
        transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
        // -moz-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        // -webkit-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        // animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    }
    &:nth-of-type(2){
        top: 24px;
        -moz-transition: ease 0.3s 0.3s;
        -o-transition: ease 0.3s 0.3s;
        -webkit-transition: ease 0.3s;
        // -webkit-transition-delay: 0.3s;
        transition: ease 0.3s 0.3s;
        // -moz-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        // -webkit-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        // animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    }
    &:nth-of-type(3){
        top: 36px;
        -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
        -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
        // -webkit-transition-delay: 0.3s, 0.1s;
        transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
        // -moz-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        // -webkit-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        // animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    }
}

.menu-clicked{
    .hamburger-menu-bar{
        &:nth-of-type(1){
            top:24px;
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
            -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
            -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
            // -webkit-transition-delay: 0.1s, 0.5s;
            transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
        }
        &:nth-of-type(2){
            opacity: 0;
        }
        &:nth-of-type(3){
            top:24px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
            -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
            -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
            // -webkit-transition-delay: 0.1s, 0.5s;
            transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
        }
    }
}

@-moz-keyframes mrotr {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(12px) rotate(0);
        transform: translateY(12px) rotate(0);
    }
    100% {
        -moz-transform: translateY(12px) rotate(45deg);
        transform: translateY(12px) rotate(45deg);
    }
}
@-webkit-keyframes mrotr {
    0% {
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -webkit-transform: translateY(12px) rotate(0);
        transform: translateY(12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(12px) rotate(45deg);
        transform: translateY(12px) rotate(45deg);
    }
}
@keyframes mrotr {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        -ms-transform: translateY(0px) rotate(0);
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(12px) rotate(0);
        -ms-transform: translateY(12px) rotate(0);
        -webkit-transform: translateY(12px) rotate(0);
        transform: translateY(12px) rotate(0);
    }
    100% {
        -moz-transform: translateY(12px) rotate(45deg);
        -ms-transform: translateY(12px) rotate(45deg);
        -webkit-transform: translateY(12px) rotate(45deg);
        transform: translateY(12px) rotate(45deg);
    }
}
@-moz-keyframes mrotl {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(-12px) rotate(0);
        transform: translateY(-12px) rotate(0);
    }
    100% {
        -moz-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }
}
@-webkit-keyframes mrotl {
    0% {
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
        transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }
}
@keyframes mrotl {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        -ms-transform: translateY(0px) rotate(0);
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(-12px) rotate(0);
        -ms-transform: translateY(-12px) rotate(0);
        -webkit-transform: translateY(-12px) rotate(0);
        transform: translateY(-12px) rotate(0);
    }
    100% {
        -moz-transform: translateY(-12px) rotate(-45deg);
        -ms-transform: translateY(-12px) rotate(-45deg);
        -webkit-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }
}






@-moz-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}




.home {

  .nav-header {
    opacity: 1;

    display: none;

    h1 a {
      color: white;
      // z-index: 1000000;
    }
  }
  footer {
    .social-media-links {
      display:none;
    }
  }

  // h1 {
  //   font-family: 'Funkford-Regular';
  //   color: white;
  //   font-size: 3em;
  //   z-index: 1000000;
  //   position: absolute;
  //   top:0;
  //   bottom:0;
  //   left:0;
  //   right:0;
  //   margin: auto;
  //
  // }
}


/* HOMEPAGE */
.homepage {
    // background-color: white;
    height: 100%;

    // position: fixed;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .home-center-text {
      z-index: 1000000;
      position: fixed;
      top:48%;
      left:50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);

      h1 {
        font-family: 'Funkford Regular';
        color: white;
        font-size: 8em;
        padding: 4px;
        margin-bottom: 20px;
        cursor: default;
      }

      a {
        marigin-top: 50px;
        display: block;
        text-decoration: none;
        font-size: 1.8em;
        text-align: center;
        color: white;

        transition: all .3s ease-in-out .1s;
        -webkit-transition: all .3s ease-in-out .1s;
        -moz-transition: all .3s ease-in-out .1s;
        -o-transition: all .3s ease-in-out .1s;

        &:hover {
          color: #ccc;
        }
      }
    }



    .wp-block-video {
      position: fixed;
      top:0;
      bottom:0;
      left:0;
      right:0;
      height: 100%;
      width: 100%;
      background: black;

      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      video {
        height: 100%;
        width: 100%;
        // margin: auto;
        // display: block;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;

        -webkit-appearance: none;
        -webkit-box-shadow:none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;

        object-fit: cover;
      }
    }


    .home-animation-image {
        display: none;
    }


    .homepage-main {
        // padding: 20px;
        overflow-y: hidden;
        height: 100vh;
        width: 100vw;
        position: relative;
        display: inline-block;
        // background-color: white;


        #defaultCanvas0{
            display: block;
            // margin: auto;
            position: fixed;
            // top:0;
            opacity: 1;
            z-index: 1000;
        }


        #see-work-button {
            position: fixed;
            bottom: 50px;
            right: 50px;
            color: black;
            text-decoration: none;
            z-index: 10000;
            cursor: default;

        }

    }




    #works {
        // height: 100vh;
        // height: calc(100vh - 70px);

        width: 100%;

        position: relative;

        display: inline-block;
        background-color: white;
        padding: 40px 40px;


        > * {
            opacity: 0;
        }

        .works-container {
            top: 150px;
            // width: calc(100vw - 260px);
            max-width: 1200px;
            margin: auto;
            overflow-x: hidden;

            .page-title {
                position: relative;
                margin-bottom: 10px;
                overflow: hidden;
                white-space: nowrap;
                h1 {
                    // display: inline-block;
                    font-family: "Funkford-Regular";
                    font-size: 3em;
                    padding: 10px;
                }
            }

            ul {
                display: none;
            }

            .works-gallery {
                display: block;
                width: 100%;
                justify-content: center;

                .blocks-gallery-item {
                    display: block;
                    width: 100%;
                    height: 220px;
                    margin: 20px auto;
                    opacity: 1;

                    figure {
                        img {
                            transition: .3s all ease-in-out .1s;
                            -ms-transition: .3s all ease-in-out .1s;
                            -moz-transition: .3s all ease-in-out .1s;
                            -webkit-transition: .3s all ease-in-out .1s;
                            -o-transition: .3s all ease-in-out .1s;

                            @media screen and (max-width: 660px) {
                                opacity: .3;
                            }
                        }

                        &:hover img {
                            opacity: .3;
                        }

                        figcaption {
                            transition: .3s all ease-in-out .1s;
                            -ms-transition: .3s all ease-in-out .1s;
                            -moz-transition: .3s all ease-in-out .1s;
                            -webkit-transition: .3s all ease-in-out .1s;
                            -o-transition: .3s all ease-in-out .1s;

                            opacity: 0;
                            font-size: 2em;
                            background: transparent;
                            position: absolute;
                            margin: 0;
                            padding: 0;
                            // height: 2em;
                            height: 1.4em;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            right: 0;
                            cursor: pointer;

                            a {
                                text-decoration: none;
                                color: black;
                            }

                            @media screen and (max-width: 660px) {
                                opacity: 1;
                            }
                        }

                        &:hover figcaption {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


.works-gallery {
    display: block;
    width: 100%;
    justify-content: center;

    .blocks-gallery-item {
        display: block;
        width: 100% !important;
        height: 220px;
        margin: 20px auto;
        opacity: 1;

        figure {
            img {
                transition: .3s all ease-in-out .1s;
                -ms-transition: .3s all ease-in-out .1s;
                -moz-transition: .3s all ease-in-out .1s;
                -webkit-transition: .3s all ease-in-out .1s;
                -o-transition: .3s all ease-in-out .1s;

                @media screen and (max-width: 660px) {
                    opacity: .3;
                }
            }

            &:hover img {
                opacity: .3;
            }

            figcaption {
                transition: .3s all ease-in-out .1s;
                -ms-transition: .3s all ease-in-out .1s;
                -moz-transition: .3s all ease-in-out .1s;
                -webkit-transition: .3s all ease-in-out .1s;
                -o-transition: .3s all ease-in-out .1s;

                opacity: 0;
                font-size: 2em;
                background: transparent;
                position: absolute;
                margin: 0;
                padding: 0;
                // height: 2em;
                height: 1.4em;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: black;
                    // font-family: "Funkford Regular";
                    font-weight: 100;
                    // letter-spacing: 2.9;
                    // font-size: 1.5em;
                }

                @media screen and (max-width: 660px) {
                    opacity: 1;
                }
            }

            &:hover figcaption {
                opacity: 1;
            }
        }
    }
}


/* PAGE */
.page-container {
    // height: calc(100vh - 70px);
    min-height: calc(100vh - 190px);
    height: auto;
    width: 100%;
    // position: relative;
    // left: 100px;
    padding: 40px 40px;
    background-color: white;

    .content-area {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    .page-title {
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 10px;
        font-family: 'Funkford Regular';
        // font-size: 1.3em;
        // color: #ff60eb;

        h1 {
            // font-family: "Funkford-Regular";
            font-size: 3em;
            padding: 10px 0px;
        }

        @media screen and (max-width: 620px) {
           h1 {
            font-size: 2em;

           }
        }
    }

    .site-main {
        max-width: 1200px;


        .cinematography-gallery, .directorial-gallery {
            display: block;
            opacity: 0;

            &:hover {
                opacity: .3 !important;
                cursor: pointer;
            }

            .blocks-gallery-item {
                display: inline-block;
                // opacity: 0;

                width: calc(33% - 3px);
                margin: 16px 1px 0px;

                figcaption {
                    opacity: 0;
                }
            }

            // & + p {
            //     opacity: 0;
            // }


        }
    }

    @media screen and (max-width: 660px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/*
.wp-block-cover {
    min-height: 200px !important;
    height: 200px !important;

    &:hover {
        opacity: .3;
    }
    &:hover .wp-block-cover__inner-container a{
        opacity: 1;
        z-index: 100;
    }

    .wp-block-cover__inner-container {
        opacity: 1;
        min-height: 200px !important;
        height: 200px !important;
        margin-bottom: 0px;
        position: relative;

        p {
            margin-bottom: 0px;
            position: relative;
            // left: 0;
            // right: 0;
            top: 50%;
            // bottom: 0;



            transform: translateY(-50%);
        }

        a {
            text-decoration: none;
            color: black;
            opacity: 0;


        }
    }
}
.wp-block-cover-image.has-background-dim:before, .wp-block-cover.has-background-dim:before {
    margin-bottom: 0px !important;
}
*/

/* ABOUT */
.wp-block-column {
    margin-left: 0px;
    &:nth-last-of-type(1) {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 0px;
        padding-top: 10px;
    }
}


/* TEMP FULL IMAGES CONTAINER */

.full-images-container {
  width: 100vw;

  .wp-block-cover {
    display: none;
  }

  .wp-block-cover {
    // // height: 100vh;
    // min-height: 100vh;
    // // min-width: 100vw;
    margin-bottom: 16px;
    background-color: rgba(0,0,0,0);
    // background-size: contain;
    // background-repeat: no-repeat;

    // display: flex !important;
    // -webkit-box-pack: center !important;
    // justify-content: center !important;
    // -webkit-box-align: center !important;
    // align-items: center !important;
    // // min-height: 800px !important;
    // background-size: cover !important;
    // background-position: center !important;
  }

  .wp-block-cover.has-parallax {
    background-attachment: scroll !important;
  }

  .wp-block-gallery {


    .blocks-gallery-grid {
      .blocks-gallery-item {
        figure {
          align-items: center !important;
          justify-content: center !important;

          .wp-block-cover__inner-container {
            position: absolute;

            p {
              color: white;
            }
          }
        }
      }
    }
  }
}

/* FULL IMAGE CONTAINER */
.full-image-overlay-container {
    margin: auto;
    margin-top: 0px;
    max-width: 1300px;
    padding: 40px 0px;

    // display: none;
    display: flex;
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background-color: blue;
    background-color: white;

    z-index: 1000000;

    @media screen and (max-width: 760px) {
        flex-direction: column;
        // padding: 20px;
    }

    .image-description {
        width: 20%;
        padding: 10px 10px 10px 40px;

        @media screen and (max-width: 760px) {
            width: 100%;
        }

        @media screen and (max-width: 660px) {
            padding: 10px 20px;
            // padding-right: 20px;
            // padding-left: 20px;

        }

        h2 {
            font-weight: 300;
            padding-bottom: 8px;
            margin-bottom: 8px;
        }
        p {
            line-height: 1.3;
        }


    }

    .full-image-container {
        padding: 10px 40px;
        width: 80%;
        // padding: 10px 40px 10px 10px;

        @media screen and (max-width: 760px) {
            width: 100%;
            padding-left: 40px;
        }

        @media screen and (max-width: 660px) {
            // width: 100%;
            // padding: 0px;
            padding: 10px 20px;

        }
    }

    // .bx-controls {
    //     display: none !important;
    // }

    .bx-wrapper {
        margin-bottom: 30px;

        .thumbnails .bx-controls-direction:not(.vertical) a {
            top: 50% !important;

        }
    }
    .bx-has-pager {
        margin: 0;
        height: 0;
    }
    .bx-pager {
        display: none !important;
    }




}
.supsystic-slider-wrapper {
    // display:none;
}


/* PHOTOGRAPHY PAGE */
.photography-container {
    padding-top: 40px;
    padding-bottom: 40px;

    min-height: calc(100vh - 300px);
    height: auto;
    // background-color: blue;
    // overflow-x: scroll;
    // overflow-y: hidden;
    // white-space: nowrap;


    .wp-block-gallery {
      height: calc(80vh - 92px);
        // height: 100%;
        list-style: none;
        // width: 400px;
        display:inline-block;
        white-space: nowrap;
        // display: -webkit-box;
        // display: -moz-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        // display: flex;
        // flex-wrap: nowrap;

        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;  /* Safari and Chrome */
        }

        .blocks-gallery-grid {
          display: inline-block !important;
          height: 100%;

          a {
            display: inline-block;
            height: 100%;
            margin-right: 10px;

            &:nth-last-of-type(1) {
              margin-right: 0;
            }
          }
        }

        .blocks-gallery-item {
            display: inline-block !important;
            height: 100%;
            width: auto;
            // max-width: 100%;

            // flex: 0 0 50%;
            // width: 100%;
            margin-right: 10px;
            margin-bottom: 0px !important;


            figure {
                display: inline-block !important;
                // max-height: 100%;
                // max-width: 100%;

                img {
                    display: inline-block !important;
                    height:100%;
                    width: auto;
                    // max-width: none !important;
                    opacity: 1;

                    transition: all .3s ease-in-out .1s;
                    -webkit-transition: all .3s ease-in-out .1s;
                    -moz-transition: all .3s ease-in-out .1s;
                    -o-transition: all .3s ease-in-out .1s;

                    &:hover {
                        opacity: .3;
                    }
                }

                figcaption {
                  display: none;
                }

            }

            &:nth-last-of-type(1) {
                padding-right: 0px !important;
                margin-right: 0px !important;
            }
        }
    }
}





/* CONTACT FORM */
.wpforms-container {
    color: black;
    font-family: 'Lato';
    font-weight: 100;
    margin-bottom: 0px !important;

    .wpforms-form  {
        width: 480px;
        max-width: 100%;

        .wpforms-field-container {
            .wpforms-field {
                width: 100%;
                &:not(.wpforms-field-textarea) {
                    height: 88px;

                }
                // margin-bottom: 20px;

                label {
                    z-index: 10;
                    position: relative;
                    top: 34px;
                    left: 1px;

                    font-weight: 100;
                    font-size: 20px;
                    color: #ccc;
                    span {
                        font-weight: 100;
                        color: #ccc;
                    }
                }


                input {
                    max-width: 480px !important;
                    position: relative;
                    font-family: 'Lato';
                    font-size: 24px;
                    font-weight: 100;
                    padding-left: 0px;
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid transparent;
                    // transition: .3s all ease-in-out .1s;

                }

                textarea {
                    width: 480px;
                    height: 250px !important;
                    position: relative;
                    font-family: 'Lato';
                    font-weight: 100;
                    font-size: 20px;

                    -webkit-appearance: none;
                    -webkit-box-shadow:none !important;
                    -moz-box-shadow: none !important;
                    box-shadow: none !important;
;

                }

                .wpforms-error {
                    top: 4px;
                    font-size: 14px;
                    color: black;
                }

            }
        }

        .wpforms-submit-container {
            // background-color: blue;
            height: 50px;
            padding-top: 0px !important;
            margin-top: 10px !important;
            button[type=submit] {
            position: relative;

                float:right;
                width: 200px;
                font-family: 'Lato';
                font-weight: 100;

                transition: .3s all ease-in-out .1s;
                background-color: #ccc;


                &:hover {
                    background-color: #333;
                    color: white;

                }

            }
        }
    }
}

.wpforms-confirmation-container-full {
    background-color: white;
    border: none;
    padding-left: 0px;
}



footer {
    height: 120px;
    // position: sticky;
    // bottom: 0;
    // left: 0;
    // right: 0;
    padding: 40px;
    .social-media-links {
        display: flex;
        flex-direction: row-reverse;

        a {
            img {
                width: 30px;
                display: inline-block;
                margin-left: 30px;
                opacity: 1;

                transition: all .3s ease-in-out .1s;
                -webkit-transition: all .3s ease-in-out .1s;
                -moz-transition: all .3s ease-in-out .1s;
                -o-transition: all .3s ease-in-out .1s;

                &:hover {
                    opacity: .3;
                }
            }
        }
    }
}
