html {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Funkford Regular;
  src: url("/fonts/Funkford-Regular.otf");
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100%;
}

h1 {
  font-size: 2.3em;
  font-weight: 300;
}

p {
  color: black;
  line-height: 1.4em;
}

/* NAV MENU */
.nav-header {
  height: 70px;
  padding: 10px 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000000;
  opacity: 0;
  display: flex;
  font-family: "Funkford Regular";
  /* NAV HEADER - mobile */
}

.nav-header h1 {
  font-size: 3em;
  font-weight: 100;
  width: 40%;
  padding-top: 4px;
  margin-top: -16px;
  z-index: 100;
}

@media screen and (max-width: 620px) {
  .nav-header h1 {
    width: 75%;
  }
}

.nav-header h1 a {
  text-decoration: none;
  color: black;
}

.nav-header .menu-nav-menu-container {
  display: block;
  opacity: 1;
  right: 40px;
  width: 60%;
  z-index: 100;
  text-align: right;
  /* NAV HEADER - mobile */
}

.nav-header .menu-nav-menu-container ul {
  width: 100%;
  /* position: absolute; */
  display: block;
  padding-left: 0px;
  list-style-type: none;
}

.nav-header .menu-nav-menu-container ul li {
  font-size: 1.5em;
  display: inline-block;
  margin: 8px 8px;
}

.nav-header .menu-nav-menu-container ul li a {
  position: relative;
  text-decoration: none;
  transition: all .3s ease-in-out .1s;
}

.nav-header .menu-nav-menu-container ul li a:before, .nav-header .menu-nav-menu-container ul li a:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 0px;
  height: 3px;
  margin: 5px 0 0;
  transition: all .3s ease-in-out;
  opacity: 0;
  background-color: #bfbfbf;
}

@media screen and (max-width: 620px) {
  .nav-header .menu-nav-menu-container ul li a:before, .nav-header .menu-nav-menu-container ul li a:after {
    bottom: 18px;
  }
}

.nav-header .menu-nav-menu-container ul li a:hover {
  color: black !important;
}

.nav-header .menu-nav-menu-container ul li:first-of-type a {
  color: #ff4949;
}

.nav-header .menu-nav-menu-container ul li:nth-of-type(2) a {
  color: #ffcf49;
}

.nav-header .menu-nav-menu-container ul li:nth-last-of-type(1) a {
  color: #4b49ff;
}

.nav-header .menu-nav-menu-container ul li:nth-last-of-type(1) {
  margin-right: 0px;
}

@media screen and (max-width: 620px) {
  .nav-header .menu-nav-menu-container {
    position: fixed;
    top: calc(-100vh - 70px);
    width: 25%;
  }
}

.nav-header .menu-nav-menu-container-mobile {
  display: block !important;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw !important;
  height: calc(100vh - 70px) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(238, 238, 238, 0.1));
  z-index: 10000;
  border-bottom: 1px solid #eee;
  box-shadow: black;
}

.nav-header .menu-nav-menu-container-mobile ul {
  display: block;
  width: 200px;
  margin: auto;
  text-align: left;
  margin-top: 150px;
}

.nav-header .menu-nav-menu-container-mobile ul li {
  display: block;
  margin-bottom: 40px;
}

.nav-header .menu-nav-menu-container-mobile ul li:nth-last-of-type(1) {
  margin-right: 8px;
}

@media screen and (max-width: 660px) {
  .nav-header .menu-nav-menu-container-mobile ul li:nth-last-of-type(1) {
    margin-right: 0;
  }
}

.nav-header .menu-nav-menu-container-mobile ul li a {
  font-size: 2.4em;
}

@media screen and (max-width: 660px) {
  .nav-header {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.hamburger-menu-container {
  display: none;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  top: 2px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  /* HAMBURGER MENU - mobile */
}

.hamburger-menu-container .hamburger-menu-bar {
  width: 40px;
  height: 1px;
  background-color: black;
  margin: 8px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 620px) {
  .hamburger-menu-container {
    display: block;
  }
}

.hamburger-menu-bar {
  position: absolute;
}

.hamburger-menu-bar:nth-of-type(1) {
  top: 12px;
  -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
  -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
  -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
  transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
}

.hamburger-menu-bar:nth-of-type(2) {
  top: 24px;
  -moz-transition: ease 0.3s 0.3s;
  -o-transition: ease 0.3s 0.3s;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s 0.3s;
}

.hamburger-menu-bar:nth-of-type(3) {
  top: 36px;
  -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
  -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
  -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
  transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
}

.menu-clicked .hamburger-menu-bar:nth-of-type(1) {
  top: 24px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
  -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
  -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
  transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

.menu-clicked .hamburger-menu-bar:nth-of-type(2) {
  opacity: 0;
}

.menu-clicked .hamburger-menu-bar:nth-of-type(3) {
  top: 24px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
  -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
  -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
  transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

@-moz-keyframes mrotr {
  0% {
    -moz-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  50% {
    -moz-transform: translateY(12px) rotate(0);
    transform: translateY(12px) rotate(0);
  }
  100% {
    -moz-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
  }
}

@-webkit-keyframes mrotr {
  0% {
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  50% {
    -webkit-transform: translateY(12px) rotate(0);
    transform: translateY(12px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
  }
}

@keyframes mrotr {
  0% {
    -moz-transform: translateY(0px) rotate(0);
    -ms-transform: translateY(0px) rotate(0);
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  50% {
    -moz-transform: translateY(12px) rotate(0);
    -ms-transform: translateY(12px) rotate(0);
    -webkit-transform: translateY(12px) rotate(0);
    transform: translateY(12px) rotate(0);
  }
  100% {
    -moz-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    -webkit-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
  }
}

@-moz-keyframes mrotl {
  0% {
    -moz-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  50% {
    -moz-transform: translateY(-12px) rotate(0);
    transform: translateY(-12px) rotate(0);
  }
  100% {
    -moz-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
  }
}

@-webkit-keyframes mrotl {
  0% {
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-12px) rotate(0);
    transform: translateY(-12px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
  }
}

@keyframes mrotl {
  0% {
    -moz-transform: translateY(0px) rotate(0);
    -ms-transform: translateY(0px) rotate(0);
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  50% {
    -moz-transform: translateY(-12px) rotate(0);
    -ms-transform: translateY(-12px) rotate(0);
    -webkit-transform: translateY(-12px) rotate(0);
    transform: translateY(-12px) rotate(0);
  }
  100% {
    -moz-transform: translateY(-12px) rotate(-45deg);
    -ms-transform: translateY(-12px) rotate(-45deg);
    -webkit-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
  }
}

@-moz-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.home .nav-header {
  opacity: 1;
  display: none;
}

.home .nav-header h1 a {
  color: white;
}

.home footer .social-media-links {
  display: none;
}

/* HOMEPAGE */
.homepage {
  height: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.homepage .home-center-text {
  z-index: 1000000;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.homepage .home-center-text h1 {
  font-family: 'Funkford Regular';
  color: white;
  font-size: 8em;
  padding: 4px;
  margin-bottom: 20px;
  cursor: default;
}

.homepage .home-center-text a {
  marigin-top: 50px;
  display: block;
  text-decoration: none;
  font-size: 1.8em;
  text-align: center;
  color: white;
  transition: all .3s ease-in-out .1s;
  -webkit-transition: all .3s ease-in-out .1s;
  -moz-transition: all .3s ease-in-out .1s;
  -o-transition: all .3s ease-in-out .1s;
}

.homepage .home-center-text a:hover {
  color: #ccc;
}

.homepage .wp-block-video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: black;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.homepage .wp-block-video video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  object-fit: cover;
}

.homepage .home-animation-image {
  display: none;
}

.homepage .homepage-main {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: inline-block;
}

.homepage .homepage-main #defaultCanvas0 {
  display: block;
  position: fixed;
  opacity: 1;
  z-index: 1000;
}

.homepage .homepage-main #see-work-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: black;
  text-decoration: none;
  z-index: 10000;
  cursor: default;
}

.homepage #works {
  width: 100%;
  position: relative;
  display: inline-block;
  background-color: white;
  padding: 40px 40px;
}

.homepage #works > * {
  opacity: 0;
}

.homepage #works .works-container {
  top: 150px;
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
}

.homepage #works .works-container .page-title {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.homepage #works .works-container .page-title h1 {
  font-family: "Funkford-Regular";
  font-size: 3em;
  padding: 10px;
}

.homepage #works .works-container ul {
  display: none;
}

.homepage #works .works-container .works-gallery {
  display: block;
  width: 100%;
  justify-content: center;
}

.homepage #works .works-container .works-gallery .blocks-gallery-item {
  display: block;
  width: 100%;
  height: 220px;
  margin: 20px auto;
  opacity: 1;
}

.homepage #works .works-container .works-gallery .blocks-gallery-item figure img {
  transition: .3s all ease-in-out .1s;
  -ms-transition: .3s all ease-in-out .1s;
  -moz-transition: .3s all ease-in-out .1s;
  -webkit-transition: .3s all ease-in-out .1s;
  -o-transition: .3s all ease-in-out .1s;
}

@media screen and (max-width: 660px) {
  .homepage #works .works-container .works-gallery .blocks-gallery-item figure img {
    opacity: .3;
  }
}

.homepage #works .works-container .works-gallery .blocks-gallery-item figure:hover img {
  opacity: .3;
}

.homepage #works .works-container .works-gallery .blocks-gallery-item figure figcaption {
  transition: .3s all ease-in-out .1s;
  -ms-transition: .3s all ease-in-out .1s;
  -moz-transition: .3s all ease-in-out .1s;
  -webkit-transition: .3s all ease-in-out .1s;
  -o-transition: .3s all ease-in-out .1s;
  opacity: 0;
  font-size: 2em;
  background: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 1.4em;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  cursor: pointer;
}

.homepage #works .works-container .works-gallery .blocks-gallery-item figure figcaption a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 660px) {
  .homepage #works .works-container .works-gallery .blocks-gallery-item figure figcaption {
    opacity: 1;
  }
}

.homepage #works .works-container .works-gallery .blocks-gallery-item figure:hover figcaption {
  opacity: 1;
}

.works-gallery {
  display: block;
  width: 100%;
  justify-content: center;
}

.works-gallery .blocks-gallery-item {
  display: block;
  width: 100% !important;
  height: 220px;
  margin: 20px auto;
  opacity: 1;
}

.works-gallery .blocks-gallery-item figure img {
  transition: .3s all ease-in-out .1s;
  -ms-transition: .3s all ease-in-out .1s;
  -moz-transition: .3s all ease-in-out .1s;
  -webkit-transition: .3s all ease-in-out .1s;
  -o-transition: .3s all ease-in-out .1s;
}

@media screen and (max-width: 660px) {
  .works-gallery .blocks-gallery-item figure img {
    opacity: .3;
  }
}

.works-gallery .blocks-gallery-item figure:hover img {
  opacity: .3;
}

.works-gallery .blocks-gallery-item figure figcaption {
  transition: .3s all ease-in-out .1s;
  -ms-transition: .3s all ease-in-out .1s;
  -moz-transition: .3s all ease-in-out .1s;
  -webkit-transition: .3s all ease-in-out .1s;
  -o-transition: .3s all ease-in-out .1s;
  opacity: 0;
  font-size: 2em;
  background: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 1.4em;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  cursor: pointer;
}

.works-gallery .blocks-gallery-item figure figcaption a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

@media screen and (max-width: 660px) {
  .works-gallery .blocks-gallery-item figure figcaption {
    opacity: 1;
  }
}

.works-gallery .blocks-gallery-item figure:hover figcaption {
  opacity: 1;
}

/* PAGE */
.page-container {
  min-height: calc(100vh - 190px);
  height: auto;
  width: 100%;
  padding: 40px 40px;
  background-color: white;
}

.page-container .content-area {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.page-container .page-title {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  font-family: 'Funkford Regular';
}

.page-container .page-title h1 {
  font-size: 3em;
  padding: 10px 0px;
}

@media screen and (max-width: 620px) {
  .page-container .page-title h1 {
    font-size: 2em;
  }
}

.page-container .site-main {
  max-width: 1200px;
}

.page-container .site-main .cinematography-gallery, .page-container .site-main .directorial-gallery {
  display: block;
  opacity: 0;
}

.page-container .site-main .cinematography-gallery:hover, .page-container .site-main .directorial-gallery:hover {
  opacity: .3 !important;
  cursor: pointer;
}

.page-container .site-main .cinematography-gallery .blocks-gallery-item, .page-container .site-main .directorial-gallery .blocks-gallery-item {
  display: inline-block;
  width: calc(33% - 3px);
  margin: 16px 1px 0px;
}

.page-container .site-main .cinematography-gallery .blocks-gallery-item figcaption, .page-container .site-main .directorial-gallery .blocks-gallery-item figcaption {
  opacity: 0;
}

@media screen and (max-width: 660px) {
  .page-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*
.wp-block-cover {
    min-height: 200px !important;
    height: 200px !important;

    &:hover {
        opacity: .3;
    }
    &:hover .wp-block-cover__inner-container a{
        opacity: 1;
        z-index: 100;
    }

    .wp-block-cover__inner-container {
        opacity: 1;
        min-height: 200px !important;
        height: 200px !important;
        margin-bottom: 0px;
        position: relative;

        p {
            margin-bottom: 0px;
            position: relative;
            // left: 0;
            // right: 0;
            top: 50%;
            // bottom: 0;



            transform: translateY(-50%);
        }

        a {
            text-decoration: none;
            color: black;
            opacity: 0;


        }
    }
}
.wp-block-cover-image.has-background-dim:before, .wp-block-cover.has-background-dim:before {
    margin-bottom: 0px !important;
}
*/
/* ABOUT */
.wp-block-column {
  margin-left: 0px;
}

.wp-block-column:nth-last-of-type(1) {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
  padding-top: 10px;
}

/* TEMP FULL IMAGES CONTAINER */
.full-images-container {
  width: 100vw;
}

.full-images-container .wp-block-cover {
  display: none;
}

.full-images-container .wp-block-cover {
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0);
}

.full-images-container .wp-block-cover.has-parallax {
  background-attachment: scroll !important;
}

.full-images-container .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure {
  align-items: center !important;
  justify-content: center !important;
}

.full-images-container .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure .wp-block-cover__inner-container {
  position: absolute;
}

.full-images-container .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure .wp-block-cover__inner-container p {
  color: white;
}

/* FULL IMAGE CONTAINER */
.full-image-overlay-container {
  margin: auto;
  margin-top: 0px;
  max-width: 1300px;
  padding: 40px 0px;
  display: flex;
  background-color: white;
  z-index: 1000000;
}

@media screen and (max-width: 760px) {
  .full-image-overlay-container {
    flex-direction: column;
  }
}

.full-image-overlay-container .image-description {
  width: 20%;
  padding: 10px 10px 10px 40px;
}

@media screen and (max-width: 760px) {
  .full-image-overlay-container .image-description {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .full-image-overlay-container .image-description {
    padding: 10px 20px;
  }
}

.full-image-overlay-container .image-description h2 {
  font-weight: 300;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.full-image-overlay-container .image-description p {
  line-height: 1.3;
}

.full-image-overlay-container .full-image-container {
  padding: 10px 40px;
  width: 80%;
}

@media screen and (max-width: 760px) {
  .full-image-overlay-container .full-image-container {
    width: 100%;
    padding-left: 40px;
  }
}

@media screen and (max-width: 660px) {
  .full-image-overlay-container .full-image-container {
    padding: 10px 20px;
  }
}

.full-image-overlay-container .bx-wrapper {
  margin-bottom: 30px;
}

.full-image-overlay-container .bx-wrapper .thumbnails .bx-controls-direction:not(.vertical) a {
  top: 50% !important;
}

.full-image-overlay-container .bx-has-pager {
  margin: 0;
  height: 0;
}

.full-image-overlay-container .bx-pager {
  display: none !important;
}

/* PHOTOGRAPHY PAGE */
.photography-container {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 300px);
  height: auto;
}

.photography-container .wp-block-gallery {
  height: calc(80vh - 92px);
  list-style: none;
  display: inline-block;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.photography-container .wp-block-gallery::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.photography-container .wp-block-gallery .blocks-gallery-grid {
  display: inline-block !important;
  height: 100%;
}

.photography-container .wp-block-gallery .blocks-gallery-grid a {
  display: inline-block;
  height: 100%;
  margin-right: 10px;
}

.photography-container .wp-block-gallery .blocks-gallery-grid a:nth-last-of-type(1) {
  margin-right: 0;
}

.photography-container .wp-block-gallery .blocks-gallery-item {
  display: inline-block !important;
  height: 100%;
  width: auto;
  margin-right: 10px;
  margin-bottom: 0px !important;
}

.photography-container .wp-block-gallery .blocks-gallery-item figure {
  display: inline-block !important;
}

.photography-container .wp-block-gallery .blocks-gallery-item figure img {
  display: inline-block !important;
  height: 100%;
  width: auto;
  opacity: 1;
  transition: all .3s ease-in-out .1s;
  -webkit-transition: all .3s ease-in-out .1s;
  -moz-transition: all .3s ease-in-out .1s;
  -o-transition: all .3s ease-in-out .1s;
}

.photography-container .wp-block-gallery .blocks-gallery-item figure img:hover {
  opacity: .3;
}

.photography-container .wp-block-gallery .blocks-gallery-item figure figcaption {
  display: none;
}

.photography-container .wp-block-gallery .blocks-gallery-item:nth-last-of-type(1) {
  padding-right: 0px !important;
  margin-right: 0px !important;
}

/* CONTACT FORM */
.wpforms-container {
  color: black;
  font-family: 'Lato';
  font-weight: 100;
  margin-bottom: 0px !important;
}

.wpforms-container .wpforms-form {
  width: 480px;
  max-width: 100%;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
  width: 100%;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field:not(.wpforms-field-textarea) {
  height: 88px;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
  z-index: 10;
  position: relative;
  top: 34px;
  left: 1px;
  font-weight: 100;
  font-size: 20px;
  color: #ccc;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label span {
  font-weight: 100;
  color: #ccc;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
  max-width: 480px !important;
  position: relative;
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 100;
  padding-left: 0px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid transparent;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea {
  width: 480px;
  height: 250px !important;
  position: relative;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 20px;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.wpforms-container .wpforms-form .wpforms-field-container .wpforms-field .wpforms-error {
  top: 4px;
  font-size: 14px;
  color: black;
}

.wpforms-container .wpforms-form .wpforms-submit-container {
  height: 50px;
  padding-top: 0px !important;
  margin-top: 10px !important;
}

.wpforms-container .wpforms-form .wpforms-submit-container button[type=submit] {
  position: relative;
  float: right;
  width: 200px;
  font-family: 'Lato';
  font-weight: 100;
  transition: .3s all ease-in-out .1s;
  background-color: #ccc;
}

.wpforms-container .wpforms-form .wpforms-submit-container button[type=submit]:hover {
  background-color: #333;
  color: white;
}

.wpforms-confirmation-container-full {
  background-color: white;
  border: none;
  padding-left: 0px;
}

footer {
  height: 120px;
  padding: 40px;
}

footer .social-media-links {
  display: flex;
  flex-direction: row-reverse;
}

footer .social-media-links a img {
  width: 30px;
  display: inline-block;
  margin-left: 30px;
  opacity: 1;
  transition: all .3s ease-in-out .1s;
  -webkit-transition: all .3s ease-in-out .1s;
  -moz-transition: all .3s ease-in-out .1s;
  -o-transition: all .3s ease-in-out .1s;
}

footer .social-media-links a img:hover {
  opacity: .3;
}
