html {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-y: hidden;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    // overflow-y: hidden;
}

h1 {
    font-size: 4.8em;
    font-weight: 400;
}

p {
    // font-size: 2em;
    color: black;
    line-height: 1.4em;
}


/* NAV MENU */

.nav-header {
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;


    // > * {
    //     opacity: 0;
    // }

    .menu-nav-menu-container {
        // position: fixed;
        display: block;
        opacity: 1;
        right: 40px;
        // top:40px;
        width: 100%;
        z-index: 100;
        text-align: right;


        ul {
            width: 100%;
            /* position: absolute; */
            display: block;
            // margin: auto;
            padding-left: 0px;
            list-style-type: none;
            
            li {
                font-size: 1em;
                display: inline-block;
                margin: 10px 8px;

                

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    
    h1 {
        font-size: 1em;
    }

    
    // h1 {
    //     font-size: 6em;
    //     position: absolute;
    //     // bottom: 207px;
    //     // right: -233px;
    //     bottom: 250px;
    //     right: -286px;
    //     transform: rotate(-90deg);
    //     color: black;
    //     cursor: default;
    // }
}
/*
.hamburger-menu-container {

    
    height: 100px;
    width: 100px;
    
    position: fixed;
    left: 30px;
    
    
    margin: auto;
    padding-top: 30px;
    // border: 5px solid transparent;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;



  

    .hamburger-menu-bar {
        width: 40px;
        height: 1px;
  
        background-color: black;
        margin: 8px 0;


        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    
}


.hamburger-menu-bar{
    position: absolute;
    &:nth-of-type(1){ 
        top: 12px;
        -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
        -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
        -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
        // -webkit-transition-delay: 0.3s, 0.1s;
        transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
        -moz-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        -webkit-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
        animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    }
    &:nth-of-type(2){ 
    top: 24px;
    -moz-transition: ease 0.3s 0.3s;
    -o-transition: ease 0.3s 0.3s;
    -webkit-transition: ease 0.3s;
    // -webkit-transition-delay: 0.3s;
    transition: ease 0.3s 0.3s;
    -moz-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -webkit-animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    }
    &:nth-of-type(3){
    top: 36px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    // -webkit-transition-delay: 0.3s, 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    -moz-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -webkit-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    }
}
.menu-clicked{
    .hamburger-menu-bar{
        &:nth-of-type(1){ 
            top:24px;
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
            -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
            -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
            // -webkit-transition-delay: 0.1s, 0.5s;
            transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
        }
        &:nth-of-type(2){ 
            opacity: 0;
        }
        &:nth-of-type(3){
            top:24px; 
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
            -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
            -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
            // -webkit-transition-delay: 0.1s, 0.5s;
            transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
        }
    }
}

@-moz-keyframes mrotr {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(15px) rotate(0);
        transform: translateY(15px) rotate(0);
    }
    100% {
        -moz-transform: translateY(15px) rotate(45deg);
        transform: translateY(15px) rotate(45deg);
    }
}
@-webkit-keyframes mrotr {
    0% {
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -webkit-transform: translateY(15px) rotate(0);
        transform: translateY(15px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(15px) rotate(45deg);
        transform: translateY(15px) rotate(45deg);
    }
}
@keyframes mrotr {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        -ms-transform: translateY(0px) rotate(0);
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(15px) rotate(0);
        -ms-transform: translateY(15px) rotate(0);
        -webkit-transform: translateY(15px) rotate(0);
        transform: translateY(15px) rotate(0);
    }
    100% {
        -moz-transform: translateY(15px) rotate(45deg);
        -ms-transform: translateY(15px) rotate(45deg);
        -webkit-transform: translateY(15px) rotate(45deg);
        transform: translateY(15px) rotate(45deg);
    }
}
@-moz-keyframes mrotl {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(-15px) rotate(0);
        transform: translateY(-15px) rotate(0);
    }
    100% {
        -moz-transform: translateY(-15px) rotate(-45deg);
        transform: translateY(-15px) rotate(-45deg);
    }
}
@-webkit-keyframes mrotl {
    0% {
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-15px) rotate(0);
        transform: translateY(-15px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-15px) rotate(-45deg);
        transform: translateY(-15px) rotate(-45deg);
    }
}
@keyframes mrotl {
    0% {
        -moz-transform: translateY(0px) rotate(0);
        -ms-transform: translateY(0px) rotate(0);
        -webkit-transform: translateY(0px) rotate(0);
        transform: translateY(0px) rotate(0);
    }
    50% {
        -moz-transform: translateY(-15px) rotate(0);
        -ms-transform: translateY(-15px) rotate(0);
        -webkit-transform: translateY(-15px) rotate(0);
        transform: translateY(-15px) rotate(0);
    }
    100% {
        -moz-transform: translateY(-15px) rotate(-45deg);
        -ms-transform: translateY(-15px) rotate(-45deg);
        -webkit-transform: translateY(-15px) rotate(-45deg);
        transform: translateY(-15px) rotate(-45deg);
    }
}
    
    
    
    
    
    
@-moz-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

*/






/* HOMEPAGE */
.homepage {
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    // position: fixed;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    

    .home-animation-image {
        display: none;
    }


    .homepage-main {
        // padding: 20px;
        overflow-y: hidden;
        height: 100vh;
        width: 100vw;
        position: relative;
        display: inline-block;
        background-color: white;


        #defaultCanvas0{
            display: block;
            // margin: auto;
            position: fixed;
            // top:0;
            opacity: 1;
            z-index: 1000;
        }


        #see-work-button {
            position: fixed;
            bottom: 50px;
            right: 50px;
            color: black;
            text-decoration: none;
            z-index: 10000;
            cursor: default;

        }

    }


    

    #works {
        height: 100vh;
        width: 100%;
        // width: calc(100vw - 100px);
        // left: 100px;
        // opacity: 0;
        // left: 100vw;
        position: relative;
        display: inline-block;
        background-color: white;
        padding: 40px 80px;
        overflow-y: scroll;


        > * {
            opacity: 0;
        }

        .works-container {


            // position: absolute;
            top: 150px;
            width: calc(100vw - 260px);
            max-width: 1000px;
            margin: auto;
            overflow-x: hidden;

            .page-title {
                position: relative;
                // position: absolute;
                // left: 0px;
                height: 100px;
                overflow: hidden;
                white-space: nowrap;
                h1 {
                    display: inline-block;
                }
            }

            ul {
                display: none;
            }

            .works-gallery {
                display: block;
                width: 100%;
                
                justify-content: center;

                
                .blocks-gallery-item {
                    display: block;
                    width: 100%;
                    height: 200px;
                    margin: 20px auto;
                    opacity: 1;

                    figure {
                        img {
                            transition: .3s all ease-in-out .1s;
                            -ms-transition: .3s all ease-in-out .1s;
                            -moz-transition: .3s all ease-in-out .1s;
                            -webkit-transition: .3s all ease-in-out .1s;
                            -o-transition: .3s all ease-in-out .1s;

                        }

                        &:hover img{
                            opacity: .3;
                            // overflow: hidden;
                            // -ms-transform: scale(1.2);
                            // -moz-transform: scale(1.2);
                            // -webkit-transform: scale(1.2);
                            // -o-transform: scale(1.2);
                            // transform: scale(1.2);
                            // width: 100%;
                            // height: 100%;
                        }
                        

                        figcaption {
                            transition: .3s all ease-in-out .1s;
                            -ms-transition: .3s all ease-in-out .1s;
                            -moz-transition: .3s all ease-in-out .1s;
                            -webkit-transition: .3s all ease-in-out .1s;
                            -o-transition: .3s all ease-in-out .1s;

                            opacity: 0;
                            font-size: 2em;
                            background: transparent;
                            position: absolute;
                            margin: 0;
                            padding: 0;
                            height: 1.4em;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            right: 0;
                            cursor: pointer;
                            
                            a {
                                text-decoration: none;
                                color: white;
                            }
                        }

                        &:hover figcaption {
                            opacity: 1;
                        }
                    }
                }


                
            }
            /* project info */
            p {
                display: none;
            }
        }
    }
}


.works-gallery {
    display: block;
    width: 100%;
    
    justify-content: center;
    .blocks-gallery-item {
        display: block;
        width: 100% !important;
        height: 200px;
        margin: 20px auto;

        figure {
            img {
                transition: .3s all ease-in-out .1s;
                -ms-transition: .3s all ease-in-out .1s;
                -moz-transition: .3s all ease-in-out .1s;
                -webkit-transition: .3s all ease-in-out .1s;
                -o-transition: .3s all ease-in-out .1s;

            }

            &:hover img{
                opacity: .3;
                // overflow: hidden;
                // -ms-transform: scale(1.2);
                // -moz-transform: scale(1.2);
                // -webkit-transform: scale(1.2);
                // -o-transform: scale(1.2);
                // transform: scale(1.2);
                // width: 100%;
                // height: 100%;
            }
            

            figcaption {
                transition: .3s all ease-in-out .1s;
                -ms-transition: .3s all ease-in-out .1s;
                -moz-transition: .3s all ease-in-out .1s;
                -webkit-transition: .3s all ease-in-out .1s;
                -o-transition: .3s all ease-in-out .1s;

                opacity: 0;
                font-size: 2em;
                background: transparent;
                position: absolute;
                margin: 0;
                padding: 0;
                height: 1.4em;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                cursor: pointer;
                
                a {
                    text-decoration: none;
                    color: white;
                }
            }

            &:hover figcaption {
                opacity: 1;
            }
        }
    }
}


/* PAGE */
.page-container {
    height: 100vh;
    width: 100%;
    // position: relative;
    // left: 100px;
    padding: 40px 80px;
    background-color: white;

    .content-area {
        width: 100%;
        max-width: 1000px;
        margin: auto;
    }

    .page-title {
        // position: absolute;
        // right: 100px;
        // top: 0;
        // height: 100px;
        // transform: rotate(-90deg);
        overflow: hidden;
        white-space: nowrap;
        // text-align: right;

        // z-index: -1;
        // h1 {
            // display: inline-block;
            // position: absolute;
            // bottom: 197px;
            // right: -197px;
            // transform: rotate(-90deg);
        // }
    }

    .site-main {
        max-width: 1000px;
        

        .cinematography-gallery, .directorial-gallery {
            display: block;
            opacity: 0;

            &:hover {
                opacity: .3 !important;
                cursor: pointer;
            }

            .blocks-gallery-item {
                display: none;
                // opacity: 0;

                width: 33%;
                margin: 16px 1px 0px;
            }

            & + p {
                opacity: 0;
            }

           
        }
    }
}


/* FULL IMAGE CONTAINER */
.full-image-overlay-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: blue;
    background-color: white;

    z-index: 1000000;

    .gallery-thumbnails-container {
        padding-top: 20px;
        width: 20%;
        background-color: #c5c1c147;

        overflow-y: scroll;

        li {
            display: block !important;
            width: 80%;
            margin: 10px auto;
            /*TODO: BOX SHADOW */


            figure {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
    .overlay-inner-container {
        width: 80%;
        padding: 20px;

        .close-img-container-button {
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }

        .image-container {
            position: relative;
            width: 100%;
            // height: 90vh;
            height: 80%;
            // background-color: yellow;
            
            img {
                width: 100%;
                // height: 100%;
                max-height: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        .image-lower {
            display: flex;

            .image-description {
                width: 50%;
                background-color: white;
                h2 {
                    font-size: 2em;
                    font-weight: 300;
                }
            }
            .image-controls {
                width: 50%;
                // background-color: pink;
                display: flex;
                justify-content: flex-end;
                padding-right: 10px;


                .left-arrow {
                    width: 20px;
                    height: 20px;
                    margin-top: 10px;
                    margin-right: 10px;
                    border-left: 2px solid black;
                    border-bottom: 2px solid black;
                    transform: rotate(45deg);
                }
                h3 {
                    font-size: 2em;
                    font-weight: 300;
                }
                .right-arrow {
                    width: 20px;
                    height: 20px;
                    margin-top: 10px;
                    margin-left: 10px;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}




/* CONTACT FORM */
.wpforms-container {
    color: white;

    .wpforms-form  {
        width: 800px;

        .wpforms-field-container {
            .wpforms-field {
                label {
                    // text-align: right;
                }
                .wpforms-field-medium {
                    // float: right;
                }
            }
        }

        .wpforms-submit-container {
            // background-color: blue;
            button[type=submit] {
                // float: right;
            }  
        }
    }
}
